#wrapper {
    display: flex;
    min-height: 100vh;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    background-color: #343a40; /* Un color oscuro para la barra lateral */
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#sidebar-wrapper .list-group {
    width: 100%;
}

#sidebar-wrapper .list-group-item {
    border: none;
    padding: 1rem 1.25rem;
}

#sidebar-wrapper .list-group-item.active {
    background-color: #0d6efd;
    color: white;
    border-left: 4px solid #ffc107;
}

#sidebar-wrapper .list-group-item:hover:not(.active) {
    background-color: #495057;
}

#page-content-wrapper {
    flex: 1;
    min-width: 0;
    padding-left: 0;
}

@media (max-width: 768px) {
    /* Podríamos añadir lógica para ocultar la barra en móviles */
}

.stat-card-income, .stat-card-sales, .stat-card-orders {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.stat-card-income h4 { color: #28a745; } /* Verde */
.stat-card-sales h4 { color: #007bff; } /* Azul */
.stat-card-orders h4 { color: #ffc107; } /* Amarillo */

.stat-card p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.chart-container, .top-products-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);


    position: relative;
    height: 400px;
    width: 100%;
}